@font-face {
    font-family: 'MangaB';
    src:url('../fonts/../fonts/BanglaMN.eot') format('embedded-opentype'), 
        url('../fonts/../fonts/BanglaMN.woff') format('woff'), 
        url('../fonts/../fonts/BanglaMN.ttf')  format('truetype'),
        url('../fonts/../fonts/BanglaMN.svg') format('svg');
}

#body {
    font-family: 'MangaB';
    background: #272727;
}

#logo { 
    height: 305px;
    width: 350px;
    margin-top: 100px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#logo:hover {
     -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#div1 {
height: 800px;
background-image:url('../images/background1.jpg');
background-size: cover;

}

#h3,#h2,#h1 {
    color: white;
}

#h3 {
    margin-top: 240px;
    margin-right: 100px;
}

.navbar {
	margin-top: 40px;
	color: #ffffff;
	font-size: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#h1 {
    font-size: 100px;
    margin-top: 220px;

     }
#h2,#h1 {
    margin-left: 100px;
}

  br {
        line-height: 150%;
     }

#h4,#h5,#h6 {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar1 {
    margin-top: 150px;
}
#background3 {
height: 800px;
background:url('../images/background2.jpg');
background-repeat:no-repeat;
background-size: cover;
}

.background4 {
height: 800px;
background-image:url('../images/background3.jpg');
background-size: cover;
}

#h7 {
    margin-top: 160px;
    color: white;
    font-family: 'MangaB';
}   
#h8 {
    margin-top: 100px;
    color: white;
    font-family: 'MangaB';
}   

#spoon {
    margin-top: 100px;
    height: 80px;
    width: 200px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#spoonvertical {
    margin-top: 110px;
    height: 200px;
    width: 40px;
    margin-left: 20px;
      -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#spoonvertical:hover, #spoon:hover {
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

}
.menu a {
    color: #ffffff;
   -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}

.menu a:hover {
    color:white;
    text-decoration: none;
    font-size: 50px;
  
}
.menu a:active {
    color: white;
    text-decoration: none;
}
.menu a:focus {
    color: white;
    text-decoration: none;
}
#map {
    height: 400px;
}

#div2 {
height: 400px;
background-image:url('../images/background4.jpg');
background-size: cover;
}

.linebreak {
    width: 1px;
    background-color: white;
    height: 350px;
}

#logo1 { 
    height: 260px;
    width: 300px;
    margin-top: 80px;
    margin-left: 150px;
}

#footertext {
    color: white;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 150px;
}

#instagram, #facebook {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
       -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
}

#instagram {
    margin-right: 170px;
}

#instagram:hover {
    width: 60px;
    height: 60px;
}


#facebook:hover {
    width: 60px;
    height: 60px;
}