@font-face {
    font-family: 'MangaB';
    src:url('../fonts/BanglaMN.eot') format('embedded-opentype'), 
    url('../fonts/BanglaMN.woff') format('woff'), 
    url('../fonts/BanglaMN.ttf')  format('truetype'),
    url('../fonts/BanglaMN.svg') format('svg');
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#body {
    font-family: 'MangaB', 'Helvetica', sans-serif;
    background: #272727;
}

#logo { 
    margin: 100px auto 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-10deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg)}
    100%{transform: rotate(10deg);}
}

#div1 {
    background:url('../images/background1.jpg') no-repeat center center;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6, p ,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.navbar {
	margin-top: 40px;
	color: #ffffff;
	font-size: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar1 {
    margin-top: 150px;
}
#background3 {
    background:url('../images/background2.jpg') no-repeat center center;
    background-size: cover;
}
#about{
    background:url('../images/background3.jpg') no-repeat center center;
    background-size: cover;
}
#spoon {
    margin-top: 100px;
    height: 80px;
    width: 200px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#spoonvertical {
    margin-top: 110px;
    height: 200px;
    width: 40px;
    margin-left: 20px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
#spoonvertical:hover, #spoon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

}
.menu a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.menu a:hover {
    font-size: 50px;
    text-decoration: none;

}
.menu a:active, .menu a:focus, .menu a:hover {
    color: white;
    text-decoration: none;
}
#map {
    height: 100vh;
}

#contact {
    background:url('../images/background4.jpg') no-repeat center center;
    background-size: cover;
}
.full-height{
    height: 100vh;
}

#footertext {
    color: white;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 150px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}


.img-icons img:hover {
    width: 60px;
    height: 60px;
}
